* {
  padding: 0px;
  margin: 0px 0px 20px 0px;
}

body {
  background-color: lightblue;
}

.header {
  position: relative;
}
.student {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.gn {
  position: absolute;
  height: 400px;
  width: 100%;
  bottom: 85px;
  background: linear-gradient(to top, lightblue, rgba(0, 0, 0, 0));
}
.head-img {
  width: 100%;
}
.main-title {
  font-size: 36px;
  bottom: 100px;
  left: 500px;
  display: flex;
  justify-content: center;
  color: rgb(63, 59, 59);
}
.main-title:hover {
  color: brown;
}
.img-card {
  width: 200px;
  height: auto;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  column-gap: 20px;
}

.card {
  width: 200px;
  height: auto;
  border: solid rgb(6, 126, 167) 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0);
}
